.dropdown {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    width: calc(100% - 32px);
    padding: 16px;
    border-radius: 18px;
    border: 1px solid transparent;
}

.dropdown:hover {
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.dropdown_title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.dropdown_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% - 32px);
    padding: 16px;
}

.dropdown_body p {
    display: none;
}

.dropdown_body a {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .dropdown {
        padding: 8px;
    }
    .dropdown_title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .dropdown_title p {
        display: none;
    }
    .dropdown_title .dropdown_title_arrow_down {
        display: none;
    }
    .dropdown_body {
        width: auto;
        gap: 16px;
        padding: 16px;
        border-radius: 18px;
        background-color: white;
        position: absolute;
        left: 106px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(0, 0, 0, 0.05);
    }
    .dropdown_body p {
        display: block;
        font-weight: 700;
        color: white;
        background-color: black;
        padding: 12px;
        border-radius: 14px;
    }
    .dropdown_body a {
        width: 70%;
    }
}
