.navigation_item {
    text-decoration: none;
    color: black;
    padding: 12px;
    border-radius: 14px;
    border: 1px solid transparent;
}

.navigation_item:hover {
    background-color: rgba(0, 0, 0, 0.025);
}

.navigation_item_active {
    text-decoration: none;
    color: black;
    padding: 12px;
    border-radius: 14px;
    font-weight: 600;
    border: 1px solid transparent;
}

.navigation_item_active:hover {
    background-color: rgba(0, 0, 0, 0.025);
}
