* {
    padding: 0px;
    margin: 0px;
    line-height: 1;
    font-size: 16px;
}

html {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

body {
    width: 100dvw;
    /* height: 100dvh; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-x: hidden;
    max-width: 2560px;
}

.landing {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
