.container {
    width: calc(100% - 256px);
    padding-left: 128px;
    padding-right: 128px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 128px;
    margin-top: 64px;
}
@media (min-width: 1920px) {
    .container {
        width: calc(100% - calc(100% - 1920px) - calc(100% - 1920px) - 256px);
        padding-left: calc(100% - 1920px + 128px);
        padding-right: calc(100% - 1920px + 128px);
    }
}

@media (max-width: 448px) {
    .container {
        width: calc(100% - 48px);
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (max-width: 768px) and (min-width: 448px) {
    .container {
        width: calc(100% - 64px);
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media (max-width: 1920px) and (min-width: 768px) {
    .container {
        width: calc(100% - 128px);
        padding-left: 64px;
        padding-right: 64px;
    }
}
