.header {
    height: 75px;
    width: 100%;
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    background-color: white;
}

@media (min-width: 1920px) {
    .header {
        width: calc(100% - calc(100% - 1920px) - calc(100% - 1920px) - 256px);
        padding-left: calc(100% - 1920px + 128px);
        padding-right: calc(100% - 1920px + 128px);
    }
}

@media (max-width: 448px) {
    .header {
        width: calc(100% - 48px);
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (max-width: 768px) and (min-width: 448px) {
    .header {
        width: calc(100% - 64px);
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media (max-width: 1920px) and (min-width: 768px) {
    .header {
        width: calc(100% - 128px);
        padding-left: 64px;
        padding-right: 64px;
    }
}
